@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sansita:700i&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1B0140;
	font-size: 16px;
	text-align: center;
	color: white;
}

header {
	padding: 2em 0 1.5em;
}

footer {
	padding: 2em 0;
}

h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 2.5em;
	letter-spacing: 3px;
	margin: 0 0 0.8em;
}

h2, h3{
	font-family: 'Sansita', sans-serif;
	letter-spacing: 1px;
}

h2{
	font-size: 1.7em;
	margin: 2em 0 1em;
}

h3{
	font-size: 1.2em;
	margin: 1em 0 0.7em;
}

p {
	font-family: 'Scope One', serif;
	line-height: 1.9em;
	margin: 0 0 0.7em;
}

nav a{
	padding: 0 1em;
	margin: 0 2em;
}

a {
	font-family: 'Scope One', serif;
	text-decoration: none;
	color: white;
}

form {
	font-family: 'Scope One', serif;
}

.intro {
  background: url("../images/hero.jpg") no-repeat center center scroll;
  background-size: cover;
  height: 90vh;
  text-align: left;
  padding: 15em;
  margin: 0 0 5em;
}

.productshowcase {
	margin: 2em auto;
}

.product {
    padding: 0 0 30px;
    float: left;
    width: 25%;
}

.product img{
	width: 100%;
	display: block;
	margin: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.coupon {
    padding: 20px;
    float: left;
    width: 57%;
}


.about {
    padding: 20px;
    float: right;
    width: 40%;
}


#two_column {
	width: 90%;
    padding: 20px;
    margin: 0 auto;
}


#logo {
	font-size: 1.4em;
	font-family: 'Shrikhand', cursive;
	letter-spacing: 1px;
	margin: 0 0 0.7em;
}

#slogan {
	font-size: 22px;
	font-family: 'Scope One', serif;
	letter-spacing: 1px;
	margin: 0 0 0.5em;
}