@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sansita:700i&display=swap');

body {
	background-color: #1B0140;
	font-size: 16px;
	text-align: center;
	color: white;
}

footer {
	padding: 50px;
}

h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 2.5em;
	letter-spacing: 3px;
}

h2, h3{
	font-family: 'Sansita', sans-serif;
	letter-spacing: 1px;
}

h2{
	font-size: 1.7em;
}

h3{
	font-size: 1.2em;
}

p {
	font-family: 'Scope One', serif;
	line-height: 1.9em;
}

nav a{
	padding: 0 3em;
	margin: 0 auto;
}

a {
	font-family: 'Scope One', serif;
	text-decoration: none;
	color: white;
}

.intro {
  background: url("../images/hero.jpg") no-repeat center center scroll;
  background-size: cover;
  height: 750px;
  margin: 0 0 5em;
}

.product {
	margin: 4em;
}

.about {
	width: 30em;
	margin: 0 auto;
}

#logo {
	font-size: 1.4em;
	font-family: 'Shrikhand', cursive;
	letter-spacing: 1px;
}

#slogan {
	font-size: 22px;
	font-family: 'Scope One', serif;
	letter-spacing: 1px;
}