body {
	background-color: black;
}

.intro {
  background: url("../images/hero.jpg");
  background-size: cover;
}

header {
	padding: 20px;
}


h1 {
	font-size: 35px;
	font-family: Helvetica, sans-serif;
	color: white;
}

h2{
	font-size: 25px;
	font-family: Helvetica, sans-serif;
	color: white;
}

h3{
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	color: white;
}

p {
	font-size: 16px;
	font-family: "Times New Roman", serif;
	line-height: 1.9em;
	color: white;
}

nav a {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
	color: white;
}

a {
	font-size: 16px;
	text-decoration: none;
	color: white;
}

#slogan {
	font-size: 20px;
	color: white;
}